body {
    font-family: 'Trebuchet MS', 'Geneva', 'sans-serif';
    background: url(bg.jpg) no-repeat center center fixed ;
    background-size: cover;
}
p::first-letter{
    font-size: 200%;
    font-weight: bold;
    color:#4c3803
}
header {
    background-color:#b28306;
    color: #4c3803;
    text-align: center;
    border-radius: 20px;
    border-bottom: 1px solid;
    padding: 1rem;
}
aside {
    background-color:#b28306;
    color: #4c3803;
    border-radius: 20px;
}
nav {
    display: flex;
    background-color: #ebcd7c;
    border-radius: 20px;
    padding: 5px 0px;
}
nav a {
    background-color: #4c3803;
    flex:auto;
    color: #b28306;
    margin: 0px 5px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    padding: 5px 0px;
}
nav a:hover {
    outline: 1px solid white;
    text-decoration: none;
    color: white;
}
a {
    color: grey;
    text-decoration: none;
    font-weight: bold;
}
@media screen and (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 75em;
        margin: auto;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 0.5rem solid black;
    }
    nav, header {
        order: -1;
    }
    article {
        flex: 75%;
    }
    aside {
        flex: 25%;
    }
}